/* css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gainsboro;
}

.d-none {
    display: none;
}
  
.container {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider-big{
    position: relative;
}

.descr-slider{
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.slider-big img{
    width: 100%;
    height: 100%;
}

.slider-thumb{
    display: flex;
    justify-content: center;
    position: relative;
}

.slider-thumb img{
    width: calc(100% / 5);
    height: 200px;
}

#prev,
#next{
    padding: 9px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: .7;

}

.buttons #prev{
    position: absolute;
    top: 50%;
    left: 1%;
}

.buttons #next{
    position: absolute;
    top: 50%;
    right: 1%;
}
